<head>
    <link rel="stylesheet" type="text/css" src="/style.css" />
</head>

<html>
<body id="bodyLogin">
    <header>
        <div class="container">
            <nav>
                <a href="" style="color:#F7A122">Productos & Servicios</a>
                <a asp-controller="Client" asp-action="Profile_Client">Perfil</a>
                <a asp-controller="UserAuthentication" asp-action="Login">Cerrar sesión</a>
            </nav>

        </div>
    </header>
    <div class="contact-icon">
        <a href=""><img src="~/resources/chat.png" style="width:80px;" /></a>
    </div>
    <div class="main-container">
        <div class="cont">
            <h2>Toma el control de tu negocio</h2>
            <h7>
                Soluciones de software innovadoras, asesoramiento estratégico o la optimización de <br>
                tus operaciones, estamos aquí para ayudarte a alcanzar tus metas. Descubre cómo podemos <br>
                potenciar tu éxito y transformar tu negocio con nuestras soluciones integrales.
            </h7>
            <input type="submit" value="Compra aquí" id="btn">
        </div>
        <div class="img">
            <img src="/resources/clientMain.jpg" id="client" />
        </div>
    </div>
    <h2>¿Por qué adquirir nuestros servicios?</h2>
    <div class="main-container">
        <div class="cont">
            <h3 style="font-size:1.2em">
                Camino claro al éxito.
            </h3>
            <img src="/resources/gain.png" id="client" />
        </div>
        <div class="cont">
            <h3 style="font-size:1.2em">
                Conocimientos especializados.
            </h3>
            <img src="/resources/brain.png" id="client" />
        </div>
        <div class="cont">
            <h3 style="font-size:1.2em">
                Soluciones personalizadas
            </h3>
            <img src="/resources/solution.png" id="client" />
        </div>
    </div>
</body>
<footer>
    
</footer>
</html>