

<head>
    <link rel="stylesheet" type="text/css" src="/style.css" />
</head>

<html>
<body id="bodyRegis">
    <section id="sectionR">
        <form asp-action="Registration" method="post">
            <div class="regis">
                <h2>Registro</h2>
                <div class="inputBoxR">
                    <input type="text" autocomplete="off" placeholder="nombre" >
                    <span class="text-danger"></span>
                </div>
                <div class="inputBoxR">
                    <input type="text" autocomplete="off" placeholder="usuario">
                    <span class="text-danger" ></span>
                </div>
                <div class="inputBoxR">
                    <input type="text" autocomplete="off" placeholder="correo" >
                    <span class="text-danger" ></span>
                </div>
                <div class="inputBoxR">
                    <input type="password" autocomplete="off" placeholder="contraseña" >
                    <span class="text-danger"></span>
                </div>
                <div class="inputBoxR">
                    <input type="password" autocomplete="off" placeholder="confirmar contraseña" >
                    <span class="text-danger" ></span>
                </div>

                @if (TempData["msg"] != null)
                {
                    <div class="form-group">
                        @TempData["msg"]
                    </div>
                }
                <div class="inputBox">
                    <input type="submit" value="Crear" id="btn">
                </div>
               @* <div class="groupP">
                    <a href="/UserAuthentication/Login">Login</a>
                </div>*@
            </div>
        </form>

    </section>
</body>
</html>

