<head>
    <link rel="stylesheet" type="text/css" src="/style.css" />
</head>

<body id="bodyIndex">
    <header>
        <div class="container">
            <nav>
                <a asp-controller="UserAuthentication" asp-action="Login">Iniciar sesión</a>
                <a asp-controller="UserAuthentication" asp-action="Registration">Crear una cuenta</a>
            </nav>
        </div>
    </header>
    <h1>SoftTech</h1>    
    <div class="main-page">
        <p>
            ¡Bienvenidos a SoftTech! Esta aplicación está diseñada para ofrecer a nuestros<br> clientes
            un trabajo eficiente y útil. Ya sea que esté buscando soluciones <br>
            inteligentes para la gestión de tareas o acceso a información valiosa. SoftTech tiene <br>
            todo lo que necesitas.<br>
            ¡Gracias por elegirnos!
        </p>
    </div>
</body>


