html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.container {
    display: flex; 
    align-items: center;
}

h1 {
    color: #F7A122;
    font-weight: 600;
    text-shadow: 1px 5px 3px #aaa, 0px 3px 1px rgba(0, 0, 0, 0.5), 4px 4px 5px rgba(0, 0, 0, 0.7), 0px 0px 7px rgba(0, 0, 0, 0.4);
}

h5 {
    font-size:1em;
    color: darkslategrey;
}

.image-container {
    flex: 1; 
    padding: 55px;
}

.form-container {
    flex: 2; 
    padding: 30px; 
}

#bodyLogin {
    position:relative;
    background: rgb(103,106,106);
    background: linear-gradient(0deg, #FFC979 0%, #fff 12%);
 
}

#bodyRegis {
    margin-bottom: 60px;
}

#imageLogin{
    width:550px;
    height:525px;
    border-radius: 290px;
}

section {
    position:relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 75vh;
}

.login {
    position: relative;
    padding: 40px;
    width: 350px;
    height:500px;
    display: flex;
    flex-direction: column;
    
}
.regis {
    position: relative;
    padding: 60px;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px rgba(0,0,0,0.8);
}

    .regis h2 {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 2.3em;
        font-weight: 500;
        color: firebrick;
        margin-bottom: 20px;
    }

.login h2 {
    position: relative;
    width: 90%;
    text-align: center;
    font-size: 2.7em;
    font-weight: 450;
    color: darkslategray;    
    margin-bottom: 28px;
}

.login .inputBox {
    position: relative;
}

.regis .inputBox {
    position: relative;
}

.login .inputBox input {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-size: 1.2em;
    background-color: #FFF8C0;
    color:darkslategray;
    border-radius: 10px;
    border: none;
    margin-bottom: 40px;
}

.regis .inputBoxR input {
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.1em;
    color: #8f2c24;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.login .inputBox input ::placeholder {
    color: black;
}

.regis .inputBoxR input ::placeholder {
    color: #8f2c24;
}

.login .inputBox #btn {
    position: relative;
    border: none;
    outline: none;
    background: #FFC979;
    color: darkslategray;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.3s;
}

.regis .inputBox #btn {
    position: relative;
    width: 100%;
    border-radius: 10px;
    border: none;
    background: #8f2c24;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.3s;
}


.login .inputBox #btn:hover {
    background: #FFD196;
}

.login .group {
    display: flex;
    justify-content:center;
}

.regis .inputBox #btn:hover {
    background: #d64c42;
}

.regis .groupP {
    display: flex;
    justify-content: center;
}

    .regis .groupP a {
        font-size: 1.25em;
        color: #8f2c24;
        font-weight: 500;
        text-decoration: none;
    }

        .regis .groupP a:nth-child(2) {
            text-decoration: underline;
        }


.login .group a {
    font-size: 1.1em;
    color: darkslategray;
    font-weight: 500;
    text-decoration: none;
}

    .login .group a:nth-child(2) {
        text-decoration: underline;
    }